div.header p {
  font-weight: bold;
}

div.header p span {
  text-align: left;
}

div.header p span::after {
  clear: both;
  content: "";
  display: block;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div p {
  font-weight: bold;
}

div p span {
  text-align: left;
}

body {
  background-color: #050505;
  color: #ff00d4;
}

h1 {
  background-color: #050505;
}

div {
  background-color: #c8ff00;
}

.hoge::after {
  clear: both;
  content: "";
  display: block;
}

.element01 {
  border-top-color: #a60b55;
  border-right-color: #76cd9c;
  border-left-color: #e8ae1a;
}

.element02 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.element03 {
  margin-top: 10px;
  margin-right: 3em;
  margin-bottom: 20vh;
}

.element04 {
  padding: 10px 15px;
}

.element05 {
  margin-top: 10px;
  margin-right: 3em;
  margin-bottom: 20vh;
}

.element06 {
  margin-top: 10px;
  margin-right: 3em;
  margin-bottom: 20vh;
}

.box {
  border-top-style: solid;
  border-right-style: dashed;
  border-bottom-style: dotted;
  border-width: 3px;
}

.element {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}

.footer__list {
  margin-top: 10px;
  margin-bottom: 10px;
}
